@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Amatic+SC');

/* Media Queries */
@media screen and (max-width: 37.8125em) {
  .align>li {
    width: 100%;
    min-height: 440px;
    height: auto;
    padding: 0;
    margin: 0 0 30px 0;
  }

  figcaption {
    text-align: center;
    width: 320px;
    top: 250px;
    padding-left: 0;
    left: -80px;
    font-size: 90%;
  }
}
  .book {
    margin: 0 auto;
  }
/* End of Media Queries */

/* Layout*/
body {
  font-family: "Poppins", sans-serif;
  color: #000000;
  background-color: #ffffff;
}

.layout_padding {
  padding: 75px 0;
}

.layout_padding2 {
  padding: 45px 0;
}

.layout_padding2-top {
  padding-top: 45px;
}

.layout_padding2-bottom {
  padding-bottom: 45px;
}

.layout_padding-top {
  padding-top: 75px;
}

.layout_padding-bottom {
  padding-bottom: 75px;
}
::selection {
  background: transparent;
}

.color1{color:#993d32}/*MOUNTAIN MEADOW*/
.color2{color:#C0392B/*TALL POPPY*/}
/* end of layout */

/* heading section*/

.custom_heading {
  text-transform: uppercase;
  font-weight: bold;
}

.hero_area {
  background-color: #993d32;
}

.sub_page .hero_area {
  height: auto;
}

.hero_area.sub_pages {
  height: auto;
}


.header_section .container-fluid {
  padding-right: 25px;
  padding-left: 25px;
}

.header_section .nav_container {
  margin: 0 auto;
}

.custom_nav-container.navbar-expand-lg .navbar-nav .nav-link {
  padding: 10px 30px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}


a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.custom_nav-container .nav_search-btn {
  background-image: url(../Home/assets/images/search-icon.png);
  background-size: 22px;
  background-repeat: no-repeat;
  background-position-y: 7px;
  width: 35px;
  height: 35px;

  padding: 0;
  border: none;
}

.navbar-brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar-brand img {
  width: 150px;
  margin-right: 5px;
}

.navbar-brand span {
  font-size: 20px;
  font-weight: 700;
  color: #191919;
  margin-top: 1px;
}

.custom_nav-container {
  z-index: 99999;
  padding: 15px 0;
}

.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler .navbar-toggler-icon {
  background-image: url(../Home/assets/images/menu.png);
  background-size: 55px;
}

/*end header section*/


/* card section*/
.head{
  height: 900px;
  background-color: #993d32;
}

.card {
  color: #733830;
  ; /*SHERPA BLUE*/
  top: 50%;
  left: 50%;
  width: 550px;
  height: 700px;
  background: #e0e1dc;
  transform-style: preserve-3d;
  transform: translate(-50%,-50%) perspective(2000px);
  box-shadow: inset 300px 0 50px rgba(0,0,0,.5), 20px 0 60px rgba(0,0,0,.5);
  transition: 1s;
}

.card:hover {
  transform: translate(-50%,-50%) perspective(2000px) rotate(15deg) scale(1.2);
  box-shadow: inset 20px 0 50px rgba(0,0,0,.5), 0 10px 100px rgba(0,0,0,.5);
}

.card:before {
  content:'';
  position: absolute;
  top: -5px;
  left: 0;
  width: 100%;
  height: 5px;
  background: #BAC1BA;
  transform-origin: bottom;
  transform: skewX(-45deg);
}

.card:after {
  content: '';
  position: absolute;
  top: 0;
  right: -5px;
  width: 5px;
  height: 100%;
  background: #92A29C;
  transform-origin: left;
  transform: skewY(-45deg);
}

.card .imgBox {
  width: 100%;
  height: 100%;
  position: relative;
  transform-origin: left;
  transition: .7s;
}

.card .bark {
  position: absolute;
  background: #e0e1dc;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: .7s;
}

.card .imgBox img {
  min-width: 550px;
  max-height: 700px;
}

.card:hover .imgBox {
  transform: rotateY(-135deg);
}

.card:hover .bark {
  opacity: 1;
  transition: .6s;
  box-shadow: 300px 200px 100px rgba(0, 0, 0, .4) inset;
}

h4 {
  margin-top: 45px;
  margin-bottom: 20px;
  font-size: 50px;
  line-height: 1px;
  font-family: 'Amatic SC', cursive !important;
}

.card .details {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 0 0 0 10px;
  z-index: -1;
  margin-top: 70px;
}

.card .details p {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  line-height: 50px;
  padding: 0 0 0 20px;
}

.card .details h4 {
  text-align: center;
}

.text-right {
  text-align: right;
}
/* end of card section*/

/* about */
.bg {
  background-image: url(../Home/assets/images/bg.jpg);
  background-size: cover;
  background-position: 0px;
}

.about_section .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about_detail-box p {
  margin-top: 30px;
  margin-bottom: 45px;
  width: 1000px;
}

.about_detail-box a {
  display: inline-block;
  padding: 7px 25px;
  background-color: #252525;
  border: 1px solid #252525;
  color: #ffffff;
}

.about_detail-box a:hover {
  background-color: transparent;
  color: #252525;
}

.about_text{
 font-size: 25px;
}

/* end of about section */

/* books section */
.brand_section {
  text-align: center;
  background-color: #993d32;
}

.brand_section h3 {
  color: #fcfcfc;
}

.brand_section .brand_item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.brand_item-box {
  width: 265px;
  margin: 30px 10px 0 10px;
}

.brand_img-box {
  height: 310px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.brand_img-box.item-1 {
  background-image: url(../Home/assets/images/item-1.jpg);
  height: 400px;
}

.brand_img-box.item-2 {
  background-image: url(../Home/assets/images/Item-2.jpg);
  height: 400px;
}

.brand_img-box.item-3 {
  background-image: url(../Home/assets/images/item-3.jpg);
  height: 400px;
}

.brand_img-box.item-4 {
  background-image: url(../Home/assets/images/item-4.jpg);
  height: 400px;
}

.brand_img-box.item-5 {
  background-image: url(../Home/assets/images/item-5.jpg);
  height: 400px;
}

.brand_img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.brand_img-box a {
  display: none;
  opacity: 0;
  background-color: transparent;
  border: 1px solid #999999;
  color: #f9fafa;
  padding: 12px 35px;
  font-size: 15px;
  z-index: 3;
  -webkit-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.brand_img-box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(37, 37, 37, 0.9);
  z-index: 1;
  -webkit-transform: translateY(320px);
          transform: translateY(320px);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.brand_img-box:hover {
  cursor: pointer;
}

.brand_img-box:hover::before {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.brand_img-box:hover a {
  display: inline-block;
  opacity: 1;
}

.brand_detail-box {
  margin-top: 20px;
}

.brand_detail-box h5 {
  text-transform: uppercase;
  font-weight: bold;
  color: #242425;
}

.brand_detail-box h5 span {
  color: #993d32;
}

.brand_detail-box h6 {
  text-transform: uppercase;
  font-weight: bold;
  color: #fcf9fc;
}
/* end of books section */

/* sedes section */
.why_section .row {
  padding: 35px 0;
}

.why_section .row .col-md-6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 25px 0;
}

.why_section .img_box {
  min-width: 125px;
  min-height: 125px;
  margin-right: 25px;
  border: 1.5px solid #e3e2e2;
  border-radius: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.why_section .img_box img {
  width: 100px;
}

.why_section .detail_box h5 {
  font-weight: bold;
  color: #993d32;
}
/* end ofsedes section */

/* footer section*/
.info_section {
  background-color: #ac5649;
}

.info_items {
  width: 90%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.info_items .item {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.info_items .item .img-box {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  background-color: #993d32;
  background-repeat: no-repeat;
  background-position: center;
}

.info_items .item .detail-box {
  margin-top: 25px;
  color: #fff;
}

.info_items {
  position: relative;
}

.info_items a {
  position: relative;
}

.info_items::before {
  content: "";
  position: absolute;
  top: 25%;
  width: 80%;
  height: 1px;
  background-color: #fff;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.info_items .item .img-box.box-1 {
  background-image: url(../Home/assets/images/location-white.png);
}

.info_items .item .img-box.box-2 {
  background-image: url(../Home/assets/images/telephone-white.png);
}

.info_items .item .img-box.box-3 {
  background-image: url(../Home/assets/images/envelope-white.png);
}

.info_items .item .img-box:hover {
  background-color: #993d32;
}

.info_items .item .img-box:hover.box-1 {
  background-image: url(../Home/assets/images/location-white.png);
}

.info_items .item .img-box:hover.box-2 {
  background-image: url(../Home/assets/images/telephone-white.png);
}

.info_items .item .img-box:hover.box-3 {
  background-image: url(../Home/assets/images/envelope-white.png);
}
/* end of info*/

/* footer section*/
.footer_section {
  background-color: #273135;
  padding: 20px;
  font-family: "Dosis", sans-serif;
  font-weight: 500;
}

.footer_section p {
  color: #fbfcfd;
  margin: 0;
  text-align: center;
}

.footer_section a {
  color: #fbfcfd;
}

.footer_section {
  background-color: #ac5649;
  padding: 20px;
  font-family: "Dosis", sans-serif;
  font-weight: 500;
}

.footer_section p {
  color: #fbfcfd;
  margin: 0;
  text-align: center;
}

.footer_section a {
  color: #fbfcfd;
}

/* end footer section*/