.SedeCard img {
    border-radius: 4px;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
    height: 128px;
    width: 128px;
    object-fit: cover;
}

.SedeCard p.name{
    font-size: 1.3rem;
}

.SedeCard p {
    color: black;
    font-size: 0.8rem;
}